
* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
}

.wrapper{
  width: 100%;
}

.img-banner{
  display: none;
  background-color: #60747e;
}

.img-info{
  width: 100%;
}

.img-info h2{
  padding: 30px 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #111;
  line-height: 44px;;
}

.img-info p{
  padding: 0px 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #111;
  line-height: 24px;
}

.img-me{
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .img-banner{
    display: block;
    width: 100%;
    padding-bottom: 30px;
    height: 300px;
  }
  .wrapper{
    width: 600px;
    margin: 0 auto;
  }

  .img-info{
    width: 100%
  }
  .img-info h2{
    padding: 20px 0px 0px;
  }
  
  .img-info p{
    padding: 20px 0px 0px;
  }

  .img-me{
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1000px;
  }

  .img-info{
    width: 50%;
    float: right;
  }

  .img-info h2{
    padding: 20px 0px 0px 30px;
  }
  
  .img-info p{
    padding: 20px 0px 0px 30px;
  }

  .img-me{
    padding-top: 30px;
    width: 300px;
    float: left;
    height: 450px
  } 
}

#nav{
	display:flex;
  background-color: black;
}

.dee{
  margin-left: 50px;
}

#