* {
  display: justify-content;
}

html,
body {
  color: #dfdfdf;
  background-color: #063647;
  font-family: "Supermercado One";
  font-size: 30px;
}

#about {
  margin-top: -130px;
}

.me {
  border-radius: 80%;
  height: 500px;
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative
}

.section-1 {
  background: #063647;
}

.section-2 {
  background-color: #052d3d;
}

.hub{
  text-align: center;
  justify-content: center;
  display: flex;
  margin-right: 1500px;
  position: relative;
}

.net{
  height: 430px;
}

.section-3 {
  background-color: #0e282e;
}

.section-5 {
  background-color: #063647;
  padding: 0rem;
}

.section-4 {
  background-color: #063647;
  padding: 0rem;
}

a.nav-item {
  color: #dfdfdf;
}

a.nav-item:hover {
  color: #fff;
}

.avatar {
  height: 200px;
  border-radius: 50%;
}

p {
  line-height: 1.1rem;
  word-spacing: 2px;
}

.jho {
  word-spacing: 2px;
}

.intro-description {
  padding-top: 1rem;
}

.social-container img {
  min-width: 50%;
  max-height: 175px;
  margin-bottom: 15px;
}

.project-figure {
  margin: 0 auto 0rem auto;
  max-height: 256px;
  min-width: 100%;
}

.box {
  background-color: transparent;
  border: 2px solid rgba(7, 59, 79, 0.5);
}

::-webkit-scrollbar {
  min-width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.title {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 50px;
}

.titlo {
  font-size: 70px;

}

.section-1 {
  margin-top: -120px;
  position: responsive;
}

.container {
  margin-top: 80px;
}

.intro {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.social {
  width: 100%;
  height: auto;
}

.void-background {
  background-color: transparent;
}

@media screen and (max-width: 100%) {
  .nav-menu {
    background-color: #063647;
  }

  .social {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .nav-left {
    color: none;
  }

  .slim {
    width: 100%;
    display: flex; 
  }

  .flood{
    margin-top: 500px;
  }

  .du {
    height: 50%;
    display: justify-content;
  }

  .no {
    height: 500px;
  }

  .slat {
    max-width: 100%;
    height: auto;
  }

  #certs {
    background-color: #0D282E;
  }

  .flat {
    max-width: 500%;
    height: auto;
  }

  .nav-toggle:hover {
    background-color: transparent;
  }

  .nav-toggle span:hover {
    background-color: #fff;
  }
}
